body.login {background:#000;}
div#login h1 a {display:block; width:150px; height:41px; padding:10px; background:#000 url('../img/logo.png') no-repeat center center; margin:0 0 20px;}
#loginform {margin:0 0 30px;}
#loginform input[type=text], #loginform input[type=password] {margin:10px 0 20px;}
#wp-submit {background:#000; color:#fff; padding:0 20px; border:0; border-radius:0 !important;}
.login #nav a, .login #backtoblog a {color:#fff !important; text-decoration:none; }
.login #nav a:hover, .login #backtoblog a:hover {color:#fd420c;}
